<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to Chat!
  </h1>

  <div class="message-container">
    <div class="message-block" *ngFor="let message of (messagesState | async).messages">
      <div [ngClass]="{'message-wrap': true, 'incoming-message': message?.userId !== userId}">
        <span>
          <span>{{message.text}}</span>
          <span class = 'delete' (click) = 'deleteMessage(message)'>✖</span>
        </span>
      </div>
    </div>
  </div>
</div>
<div class="control-block">
  <input type="text" [(ngModel)] = 'newMessage' (keyup.enter) = 'sendMessage()'>
  <button (click) = 'sendMessage()'>Send Message!</button>
</div>
